<b class="n-title">お知らせ編集</b>

<div class="n-sub"></div>
  <div class="n-sub n-sub2"></div>
  <div class="n-sub n-sub3"></div>

<%= render 'form', notification: @notification %>

<div class="actions">
<%= submit_tag "更新",class:"submit" %>
<%= link_to '戻る',notifications_path,class:"submit" %>
</div>
