<h1>お知らせ登録</h1>

<div class="nsub"></div>
  <div class="nsub nsub2"></div>
  <div class="nsub nsub3"></div>

<%= render 'form', notification: @notification %>

<%= link_to '戻る', notifications_path %>
