<div class="u-sub"></div>
<div class="u-sub u-sub2"></div>
<div class="u-sub u-sub3"></div>

<b class="u-title">ユーザー一括追加確認</b>
<p>
<h3><font color = "#ff0000"><b>以下のデータを追加してもよろしければ追加ボタンを押してください。</b></font></h3>
</p>

<div style="float:left;"><%=submit_tag "追加",class:"submit" %></div>
