<b class="u-title">ユーザー編集</b>

<div class="u-sub"></div>
<div class="u-sub u-sub2"></div>
<div class="u-sub u-sub3"></div>

<%= form_with(model: @user, local: true) do |form| %>
  <%= render 'form1', user: @user, form: form %>
<% end %>

<%= link_to '戻る', users_path,class: "btn-users" %>
