<h1>ユーザー追加</h1>

<div class="usub"></div>
  <div class="usub usub2"></div>
  <div class="usub usub3"></div>

<%= form_with(model: @user, local: true) do |form| %>
  <%= render 'form2', user: @user, form: form %>
<% end %>

<%= link_to '戻る', users_path,class: "btn-users" %>