<h1 style="text-align:center;font-size:120px">suns</h1>
<h3 style="text-align:center;font-size:"><a href = 'http://localhost:3000/submission' /h3 > 提出物一覧 </a><br/>
<h3 style="text-align:center;font-size:"><a href = 'http://localhost:3000/notification' /h3 > お知らせ一覧 </a><br/>
<h3 style="text-align:center;font-size:"><a href = 'http://localhost:3000/annual_events' /h3 > 行事予定 </a><br/>
<h3 style="text-align:center;font-size:"><a href = 'http://localhost:3000/users' /h3 > ユーザー一覧 </a><br/>
<h3 style="text-align:center;font-size:45px"><a href = 'http://localhost:3000/annual_events/new' /h3 > 行事予定登録 </a><br/>
<h3 style="text-align:center;font-size:45px"><a href = 'http://localhost:3000/annual_events/edit' /h3 > 行事予定編集 </a><br/>