<b><font size="6">
  提出物登録
</font></b>

<div class="s-sub"></div>
  <div class="s-sub s-sub2"></div>
  <div class="s-sub s-sub3"></div>

<%= form_with(model: @submission, local: true) do |form| %>
  <%= render 'form1', submission: @submission, form: form %>
  <%= render 'form3', submission: @submission, form: form %>
<% end %>

