<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @annual_event.filename %>
</p>

<%= link_to 'Edit', edit_annual_event_path(@annual_event) %> |
<%= link_to 'Back', annual_events_path %>
