/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header{
  font-size: 30px;
  background-color:#000000;
  mix-blend-mode: screen;
  line-height: 50px;
  color: #000000;
  -webkit-background-clip: text;
  box-shadow: rgba(184, 52, 52, 0.1) inset; 
 }

 /*各画面の表の文字サイズ*/
 .fs15{
    font-size :15px;
  }

 .fs20{
    font-size :20px;
  }
  
  .fs25{
    font-size :25px;
  }

  .submit {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#1d1b1d;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:5px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
  }
  .submit:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    color: #000000;
    background-color:#f6f6f6;
  }
  .submit:active {
    position:relative;
    top:1px;
  }
  
  actions{
    font-size:15px;
  }
