// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.subject {
    text-align: left;  /* 文章を左寄せする(※) */
    float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
 }
 .date {
    text-align: right; /* 文章を右寄せする */
 }
 .titlebar {
    background-color: #cc0000; /* 背景を赤色に */
    color:white;               /* 文字を白色に */
    font-weight:bold;          /* 太字にする */
 }

 h1.title{
    font: bold 10em / 1 Verdana, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    
    /* 背景グラデーションを指定・幅を 200% にしておく */
    background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
    
    /* 背景画像を文字でマスクする */
            background-clip: text;
    -webkit-background-clip: text;
    
    /* 文字色を透明にできればよく color: transparent でも color: rgba(0, 0, 0, 0) でも可 */
            text-emphasis-color: transparent;
    -webkit-text-fill-color: transparent;
    
    /* アニメーション指定 */
    animation: example 4s linear infinite;
  }
  
  /* 背景の横位置をズラす */
  @keyframes example {
}