// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.subject {
    text-align: left;  /* 文章を左寄せする(※) */
    float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
 }
 .date {
    text-align: right; /* 文章を右寄せする */
 }
 .titlebar {
    background-color: #cc0000; /* 背景を赤色に */
    color:white;               /* 文字を白色に */
    font-weight:bold;          /* 太字にする */
 }

 @-webkit-keyframes bg-color {
   0% { background-color: #e74c3c79; }
   20% { background-color: #f1c40f79; }
   40% { background-color: #1abc9c79; }
   60% { background-color: #3498db79; }
   80% { background-color: #9b59b679; }
   100% { background-color: #e74d3c79; }
 }
 @keyframes bg-color {
   0% { background-color: #e74d3c79; }
   20% { background-color: #f1c40f79; }
   40% { background-color: #1abc9c79; }
   60% { background-color: #3498db79; }
   80% { background-color: #9c59b679; }
   100% { background-color: #e74d3c79; }
 }

 body {
        background-color: #e74d3c79;
        animation: bg-color 60s infinite;
        -webkit-animation: bg-color 100s infinite;
      }