// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.subject {
    text-align: left;  /* 文章を左寄せする(※) */
    float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
 }
 .date {
    text-align: right; /* 文章を右寄せする */
 }
 .titlebar {
  background-color: #cc0000; /* 背景を赤色に */
  color:white;               /* 文字を白色に */
  font-weight:bold;          /* 太字にする */
 }

HTML CSSResult
EDIT ON
html {
  height:100%;
}

.login {
  text-align:center;
  font-size:25px;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #cccccc 35%,#57cbee 65% );
  bottom:0;
  left:-50%;
  opacity:.6;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.bg.sub {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #ff0000 50%,#ffffff 50% );
  bottom:0;
  left:-50%;
  opacity:.6;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}
  
  .bg2.sub {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3.sub {
  animation-duration:5s;

}




.today{
  text-align:right;
  font-size:30px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-bottom: solid 2px #000000;
  border-radius: 2px;
}


.btn-sticky-1 {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #ff0000;/*左線*/
  color: #645d5d;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn-sticky-2 {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #0000ff;/*左線*/
  color: #645d5d;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn-sticky-3 {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #f1e420;/*左線*/
  color: #645d5d;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn-sticky-4 {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #00ff55;/*左線*/
  color: #645d5d;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn-sticky-5 {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #aa00ff;/*左線*/
  color: #645d5d;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn-logout {
  font-size:17px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-bottom: solid 2px #ff9100;
  border-radius: 2px;
  color: #00BCD4;   
  transition: .4s;
}

.btn-logout:hover {
  background: #ff9100;
  color: white;
}

.btn-logout-head {
  font-size:20px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-bottom: solid 2px #ff9100;
  border-radius: 2px;
  color: #00BCD4; 
  transition: .4s;
}

.btn-logout-head:hover {
  background: #ff9100;
  color: white;
  box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn-suns {
  font-size:40px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-radius: 20px;
  color: #00BCD4; 
  transition: .4s;
}

.btn-suns:hover {
  background: #ff9100;
  color: white;
  box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn-sub {
  font-size:20px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-bottom: solid 2px #ff0000;
  border-radius: 2px;
  color: #00BCD4;    
  transition: .4s;
}

.btn-sub:hover {
  background: #ff0000;
  color: white;
  box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn-not {
  font-size:20px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-bottom: solid 2px #0000ff;
  border-radius: 2px;
  color: #00BCD4;    
  transition: .4s;
}

.btn-not:hover {
  background: #0000ff;
  color: white;
  box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn-anu {
  font-size:20px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-bottom: solid 2px #f1e420;
  border-radius: 2px;
  color: #00BCD4;   
  transition: .4s;
}

.btn-anu:hover {
  background: #f1e420;
  color: white;
  box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn-users {
  font-size:20px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-bottom: solid 2px #00ff55;
  border-radius: 2px;
  color: #00BCD4;
  transition: .4s;
}

.btn-users:hover {
  background: #00ff55;
  color: white;
  box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.29);
}

.title-bottom {
  font-size:15px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-radius: 2px;
  color: rgb(0, 0, 0);   
  transition: .4s;
}
      
.suns {
  text-align:center;
  text-transform: uppercase;
  letter-spacing: .3em;
  display: inline-block;
  border-top: 1px solid #000000;
  border-bottom: 2px solid #000000;
  border-width: 2px 0;
  padding: 0.2em 0em;
  position: absolute;
  top: 17%;
  left: 50%;
  width: 30em;
  margin: 0 0 0 -15em;

span {

  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .250em;
  font-size: 84px;
    display: block;
    margin: 0 auto;
  text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

    background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

/* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 45s linear infinite;

/* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

  }
}

h7 {
  font-family:monospace;
}
/* Animate Background Image */

@-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 13px 12px;
  text-align: center;
}


