// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.n-sub {
    animation:slide 2.5s ease-in-out infinite alternate;
    background-image: linear-gradient(60deg, #cccccc 35%,#00aaff 65% );
    bottom:0;
    left:-50%;
    opacity:.6;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  

.n-sub {
    animation:slide 2.5s ease-in-out infinite alternate;
    background-image: linear-gradient(60deg, #cccccc 35%,#5577dd 65% );
    bottom:0;
    left:-50%;
    opacity:.6;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .n-sub2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .n-sub3 {
    animation-duration:5s;
  }
  
/* 表のデザイン関連 */
.n-hyou{
    font-size: 20px;
    border:double 2px #0000ff;
    background-color: #ffffff;
}

.n-hyou2{
    font-size: 20px;
    border:double 2px #0000ff;
    background-color: rgb(135, 215, 226);
}

/*タイトル*/
.n-title{
    font-size :30px;
    color :#0000ff;
    text-shadow: 0 0 0.2em rgba(255,255,255,1);
}