// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bcsub {
    animation:slide 2.5s ease-in-out infinite alternate;
    background-image: linear-gradient(60deg, #cccccc 35%,#00aaff 65% );
    bottom:0;
    left:-50%;
    opacity:.6;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  

.bcsub {
    animation:slide 2.5s ease-in-out infinite alternate;
    background-image: linear-gradient(60deg, #cccccc 35%,#5577dd 65% );
    bottom:0;
    left:-50%;
    opacity:.6;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .bcsub2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bcsub3 {
    animation-duration:5s;
  }
  

.btn-not {
    font-size:20px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-bottom: solid 2px #0000ff;
    border-radius: 2px;
    color: #00BCD4;    
    transition: .4s;
}
  
.btn-not:hover {
    background: #0000ff;
    color: white;
    box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.29);
}
/* 表のデザイン関連 */
.notif{
    font-size: 20px;
    border:double 2px #0000ff;
    background-color: #ffffff;
}

.notific{
    font-size: 20px;
    border:double 2px #0000ff;
    background-color: rgb(135, 215, 226);
}


.notift{
    font-size :30px;
    color :#0000ff;
    text-shadow: 0 0 0.2em rgba(255,255,255,1);
}
.notift2{
    font-size :20px;
}

.notift3{
    font-size :25px;
}
