// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/  

.u-sub {
    animation:slide 2.5s ease-in-out infinite alternate;
    background-image: linear-gradient(60deg, #ffffff 35%,#45be61 65% );
    bottom:0;
    left:-50%;
    opacity:.6;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .u-sub2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .u-sub3 {
    animation-duration:5s;
  }
  
/* 表のデザイン関連 */
.uback{
    font-size: 20px;
    border:solid 2px #000;
    background-color: #ffffff;
}

.uback2{
    font-size: 20px;
    border:solid 2px #000;
    background-color: rgb(94, 252, 128);
}


.u-title{
    font-size :45px;
    color :#000000;
    text-shadow: 0 0 0.2em rgba(255,255,255,1);
}